.admin-layout {
  display: flex;
  min-height: 100vh;
}

.report{
    text-align: center;
}
.sidebar {
  width: 200px;
  background: #222;
  color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebar h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.sidebar-btn {
  background: #444;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar-btn:hover {
  background: #007bff;
}

.logout-btn {
  background: #dc3545;
  margin-top: auto;
}

.admin-container {
  margin-left: 220px;
  width: calc(100% - 220px);
  padding: 20px;
}

.filter-bar {
  margin-bottom: 15px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table,
th,
td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 8px;
}

th {
  background: #007bff;
  color: white;
}

