.user-page {
  display: flex;
  background-color: #0b0c10;
  color: #c5c6c7;
  min-height: 100vh;
}

.sidebar {
  width: 230px;
  background: #1f2833;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
}

.sidebar-title {
  color: #66fcf1;
  margin-bottom: 25px;
}

.sidebar button {
  background: transparent;
  border: none;
  color: #c5c6c7;
  padding: 12px;
  margin-bottom: 10px;
  text-align: left;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar button:hover {
  background: #45a29e;
  color: #fff;
}

.sidebar .active {
  background: #66fcf1;
  color: #0b0c10;
  font-weight: bold;
}

.user-content {
  margin-left: 230px;
  padding: 40px;
  width: calc(100% - 230px);
  display: flex;
  justify-content: center;
}

.user-container {
  background: #1f2833;
  padding: 40px;
  border-radius: 15px;
  width: 90%;
  max-width: 950px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.user-heading {
  color: #66fcf1;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  margin-bottom: 25px;
}

.form-row input,
.form-row select {
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  background: #0b0c10;
  color: #c5c6c7;
}

.form-row button {
  background: #66fcf1;
  color: #0b0c10;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.form-row button:hover {
  background: #45a29e;
}

.message {
  margin-top: 10px;
  color: #66fcf1;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
}

.user-table th,
.user-table td {
  padding: 12px;
  border-bottom: 1px solid #45a29e;
}

.delete-btn {
  background-color: #c3073f;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 7px 12px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.delete-btn:hover {
  background-color: #950740;
}

.logout{
  margin-bottom: 100px;
}